body {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
}

#MainContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(rgb(232, 253, 197), rgb(77, 77, 48));
	align-items: center;
	justify-content: flex-start;
}

#SubmitForm {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: auto;
}

#Input {
	width: 300px;
	height: 25px;
	box-shadow: 5px 5px 5px rgb(80, 80, 80);
}

#SubmitButton {
	height: 30px;
	box-shadow: 5px 5px 5px rgb(80, 80, 80);
}

#UserNameList {
	list-style: none;
	margin-top: 1px;
	height: auto;
	overflow-y: auto;
	width: 330px;
}

#UserNameList li {
	position: relative;
	top: 1px;
	left: -40px;
	height: auto;
	background-color: rgb(253, 253, 159);
	padding: 10px;
	border: 2px solid rgb(252, 193, 84);
	border-radius: 5px;
	margin: 2px;
}
